body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input {
  padding: 0;
  text-indent: 0.25em;
  line-height: 2;
}

img {
  display: block;
  width: 100%;
  margin-bottom: 0.5em;
}

h1 {
  margin: 0;
}

p, 
h5,
h6 {
  margin: 0;
}

a,
a:visited {
  color: blue;
}

.max-width-40 {
  max-width: 40rem;
}

.bb-1 {
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.p-2 {
  padding: 2rem;
}

.mt-2 {
  margin-top: 2em;
}

.mh-auto {
  margin-left: auto;
  margin-right: auto;
}

.text-centered {
  text-align: center;
}

.text-truncated {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
}

.grid-4col {
  grid-template-columns: repeat(4, 1fr);
}

.bg-shade-10 {
  background: rgba(0, 0, 0, .10);
}

.bg-shade-05 {
  background: rgba(0, 0, 0, .05);
}